<h1>Listing questions for diagnosis</h1>

<%= form_tag({:action => :create}, {:method => :post }) do %>

<table>

  <% @questions.each do |question| %>
	<tr>
		<td>
		<%= question.content -%>
		</td>

      		<td>
		<%= check_box_tag 'question_ids[]', [question.id,1] -%>
        	<%= question.answer1-%>

    		</td>
		
		<td>

        	<%= check_box_tag 'question_ids[]', [question.id,2] -%>
        	<%= question.answer2-%>
    		</td>

		<td>

        	<%= check_box_tag 'question_ids[]', [question.id,3] -%>
        	<%= question.answer3-%>
    		</td>

		<td>

        	<%= check_box_tag 'question_ids[]', [question.id,4] -%>
        	<%= question.answer4-%>
    		</td>
	</tr>
  <% end %>

</table>
<%= flash[:message] %><br>
  <%= submit_tag("Post") %>
<% end %>
<br>

<%= link_to 'Erneut', :action => "index" %>


