!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "diagnose 0.0.1 beta"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .row
      %navbar
      %header
        / Header and Nav
        .large-3.columns
          LOGO
        .large-9.columns
          Navigation
        /Image
    .row
      .large-12.columns.centered
        Bild
    .row
      .large-4.columns
        %sidebar
          - if user_signed_in?
            Signed in as
            = current_user.email
            Not you?
            = link_to "Sign out", destroy_user_session_path, { :class => "button [tiny small large]" , :method => :delete }
          - else
            = link_to "Sign up", new_user_registration_path, { :class => "button [tiny small large]" }
            or 
            = link_to "Sign in", new_user_session_path, { :class => "button [tiny small large]" }
      .large-8.columns  
        %section
          %article
          -# .alert-box.success.radius(data-alert)
          /= render 'layouts/navbar'
          = flash[:alert]
          = flash[:notice]
          = yield
          = javascript_include_tag "application"
      
